// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adjust-width {
  width: 300px;
}

.challenge-headline {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}
